<html>
<body>
<title>error</title>

 <style>

        body {
            font-family: Arial;
            background-color: #ffe8e8;
            text-align: center;
            padding-top: 100px;
        }

        h1 {
            color: red;
        }

        a {
            text-decoration: none;
            color: white;
            background: red;
            padding: 10px 20px;
            border-radius: 5px;
        }

    </style>
</head>
<body>

<h1>Something Went Wrong!</h1>

<br>

<a href="/admin">Return To Dashboard</a>

</body>
</html>