<html>
<body>
<title> succes </title>

    <style>

        body {
            font-family: Arial;
            background-color: #e8ffe8;
            text-align: center;
            padding-top: 100px;
        }

        h1 {
            color: green;
        }

        a {
            text-decoration: none;
            color: white;
            background: green;
            padding: 10px 20px;
            border-radius: 5px;
        }

    </style>
</head>
<body>

<h1>Operation Completed Successfully!</h1>

<br>

<a href="/admin">Return To Dashboard</a>

</body>
</html>